In [10]:
import pandas as pd
import numpy as np

### Data sampling

Data sampling is the process of selecting a subset of data from a larger dataset. It is often used to reduce the computation time and storage space required to work with large datasets. There are various types of data sampling methods such as random sampling, stratified sampling, cluster sampling, and systematic sampling.

### Random Sampling

In [4]:
df = pd.DataFrame(range(1,100))
df.head()

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
df.sample(frac=0.05)

     0
96  97
14  15
69  70
57  58
24  25

### Stratified Sampling

Stratified Sampling is a type of probability sampling where the population is divided into subgroups based on some characteristic or feature. The subgroups are then sampled proportionally to their size in the population. Stratified sampling is useful when you have a population with significant differences in the characteristics and you want to ensure that each subgroup is represented in the sample.

In [13]:
#pandas
df = pd.DataFrame(
    {
        'student_id' : np.arange(1,101),
        'class' : np.random.choice(['A','B','C','D'], size = 100),
        'grade' : np.random.randint(0, 101, size=100)
    }
)
df.head()

   student_id class  grade
0           1     D     49
1           2     A     92
2           3     C     61
3           4     C      0
4           5     B     56

In [16]:
sampl_func = lambda x : x.sample(10)

sampled_data = df.groupby('class').apply(sampl_func)

sampled_data = sampled_data.reset_index(drop=True)

sampled_data.head()

/tmp/ipykernel_338524/1599739574.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_data = df.groupby('class').apply(sampl_func)

   student_id class  grade
0          70     A     86
1          94     A     22
2          45     A     56
3          26     A     76
4          42     A     60

In [19]:
from sklearn.model_selection import train_test_split

train, test = train_test_split( df , stratify=df['class'])

In [23]:
train['class'].value_counts()

class
B    25
C    19
A    16
D    15
Name: count, dtype: int64

In [22]:
test['class'].value_counts()

class
B    8
C    7
D    5
A    5
Name: count, dtype: int64