In [3]:
string=" Hello World!"
reversed_string = ""

i=len(string) - 1

while i >=0:  
    reversed_string = reversed_string + string[i] 
    
    i= i-1
    
print(reversed_string)

!dlroW olleH

In [5]:
adj = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'cherry']

for a in adj:
    for f in fruits:
        print(a, f)
    break

red apple
red banana
red cherry

In [6]:
for a,f in zip(adj,fruits):
    print(a,f)

red apple
big banana
tasty cherry

In [8]:
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [ ]:
range()

In [ ]:
<true expression> if <condition> else <false expression>

In [11]:
name = "rhailesh"
result = "Hello" if name == "Shailesh" else "Bye"

In [12]:
result

'Bye'

In [25]:
def asset_categorise(asset_type, asset_name = "image.jpg", **kwargs):
    
    asset_size = kwargs.get('size', None)

    print(f"{asset_type} | {asset_name}")
    
    # Proceed only if asset_size is not None
    if asset_size is not None:
        if asset_size > 100:
            print("This is a large asset")
        else:
            print("This is a small or medium asset")
    else:
        print("Asset size is not specified")

# Example usage
asset_categorise("Equipment", "Excavator", size=150)
# asset_categorise("Equipment", "Hammer", size=50)
# asset_categorise("Equipment")

Equipment | Excavator
This is a large asset

In [13]:
dd = {
    1:"Ram",
    2:"shyam"
}

In [19]:
for key, val in dd.items():
    print(key, val)

1 Ram
2 shyam

In [26]:
dd.items()

dict_items([(1, 'Ram'), (2, 'shyam')])

In [3]:
%time
my_list = [1, 2, 3, 4, 5, 6,7, 8,9]
doubled_list = list(map(lambda x: x * 2, my_list))
print(doubled_list)

CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 2.38 µs
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [1]:
%time
my_list = [1, 2, 3, 4, 5, 6,7, 8,9]

double = lambda x:x*2

result = []

for each in my_list:
    result.append(
        double(each)
    )

print(result)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.58 µs
[2, 4, 6, 8, 10, 12, 14, 16, 18]